body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

:root {
    --primary-color: #362dbb;
    --secondary-color: #ff0000;
    --button-hover-color: #ff7b00;
}

#encabezado {
    text-align: center;
    margin-bottom: 20px;
}

#encabezado h1 {
    color: var(--primary-color);
}

#encabezado p {
    color: #555;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedorCalculadoraCarrito {
    display: inline-block;
    height: 100%;
    position: sticky;
    top: 20px;
    z-index: 100;
}

#catalogoProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    max-width: none;
}

#catalogoProductos,
#calculadora,
#resultado,
#totalCarrito,
#carrito {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 10px;
    flex: 1;
    margin: 10px;
    max-width: 400px;
}

#catalogoProductos h2,
#totalCarrito h2,
#carrito h2,
#resultado h2 {
    text-align: center;
    color: #333;
}

#catalogoProductos img,
#totalCarrito img,
#carrito img,
#resultado img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

#catalogoProductos .producto,
#totalCarrito .producto,
#carrito .producto {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    text-align: center;
}

#catalogoProductos .producto:hover,
#totalCarrito .producto:hover,
#carrito .producto:hover {
    background-color: #f0f0f0;
}

#catalogoProductos ul,
#totalCarrito ul,
#carrito ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#catalogoProductos button,
#totalCarrito button,
#carrito button,
#resultado button,
#limpiarCacheButton,
#limpiarCarritoButton {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: #fff;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#catalogoProductos button:hover,
#totalCarrito button:hover,
#carrito button:hover,
#resultado button:hover,
#limpiarCacheButton:hover,
#limpiarCarritoButton:hover {
    background-color: var(--secondary-color);
}

#catalogoProductos .producto:hover,
#totalCarrito .producto:hover,
#carrito .producto:hover {
    background-color: #f0f0f0;
}

#catalogoProductos .producto.seleccionado {
    background-color: #f0f0f0; 
    border: 2px solid var(--primary-color); 
}

#catalogoProductos .producto:hover,
#totalCarrito .producto:hover,
#carrito .producto:hover {
    background-color: #f0f0f0;
}

#calcularButton:disabled,
#limpiarCarritoButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#calcularButton,
#limpiarCarritoButton {
    width: 50%;
    margin: 0 auto;
}

#calcularButton:hover {
    background-color: var(--button-hover-color);
}

#calculadora input,
#calculadora select,
#calculadora button {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

#resultado button {
    display: flex;
    margin-top: 10px;
    background-color: var(--primary-color);
    justify-content: center;

    color: #fff;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#resultado p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#limpiarCarritoButton {
    background-color: #dc3545;
    color: #fff;
}

#limpiarCarritoButton:hover {
    background-color: #bd2130;
}

#limpiarCacheButton,
#limpiarCacheResultadoButton {
    background-color: #dc3545;
    color: #fff;
}

#limpiarCacheButton:hover,
#limpiarCacheResultadoButton:hover {
    background-color: #bd2130;
}
