body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
}

:root {
    --primary-color: #09ff00;
    --secondary-color: #ff0000;
    --button-hover-color: #ff7b00;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

select,
button {
    padding: 12px;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-image: linear-gradient(to top, var(--primary-color) 10%, #fdfdfd 80%);
    transition: background-image 0.3s ease;
}

button:hover {
    background-image: linear-gradient(to top, var(--secondary-color) 20%, var(--button-hover-color) 100%);
}

.resultado {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
